In [3]:
from sklearn.metrics.pairwise import cosine_similarity,cosine_distances

In [6]:
cosine_similarity([[3,1]],[[6,2]])

array([[1.]])

In [7]:
cosine_distances([[3,1]],[[6,2]])

array([[1.11022302e-16]])

In [8]:
cosine_similarity([[3,1]],[[3,2]])

array([[0.96476382]])

In [9]:
import pandas as pd

In [17]:
df=pd.DataFrame([
    {'iphone':3,'galaxy':1},
     {'iphone':2,'galaxy':0},
     {'iphone':1,'galaxy':3},
     {'iphone':1,'galaxy':2},
],
                index=[
                    "doc1",
                    "doc2",
                    "doc3",
                    "doc4",
                ]
            
)
df

      iphone  galaxy
doc1       3       1
doc2       2       0
doc3       1       3
doc4       1       2

In [16]:
df.loc[]

   iphone  galaxy
1       2       0
2       1       3